.container {
    /* включаем свойство flex */
    display: flex;
    /* по умолчанию элементы распределяются по горизонтали */

    flex-direction: row;
    /* flex-direction: row; - это значение свойства flex-direction в CSS, которое определяет направление главной оси гибкого контейнера (flex-контейнера). В данном случае, значение row указывает, что главная ось будет направлена горизонтально, а элементы будут располагаться вдоль этой оси слева направо. */

    flex-direction: column;
    /* flex-direction: column; - это значение свойства flex-direction в CSS, которое определяет направление главной оси гибкого контейнера (flex-контейнера). В данном случае, значение column указывает, что главная ось будет направлена вертикально, а элементы будут располагаться вдоль этой оси сверху вниз. */

    justify-content: space-around;
    /* justify-content: space-around; - это одно из значений свойства justify-content в CSS, которое применяется к контейнеру flexbox и управляет распределением пространства между его дочерними элементами вдоль главной оси (обычно горизонтальной).

    Когда свойство justify-content установлено на space-around, пространство между дочерними элементами распределяется равномерно по обе стороны от каждого элемента. Таким образом, элементы будут иметь одинаковые промежутки между собой и от крайних сторон контейнера. */

    justify-content: space-evenly;
    /* justify-content: space-evenly; - это еще одно значение свойства justify-content в CSS, которое применяется к контейнеру flexbox и управляет распределением пространства между его дочерними элементами вдоль главной оси (обычно горизонтальной).

    Когда свойство justify-content установлено на space-evenly, пространство между дочерними элементами распределяется равномерно вокруг всех элементов, включая промежутки между крайними элементами и краями контейнера.

    Для лучшего понимания, представьте, что весь доступный размер пространства между элементами равномерно разделен на равные промежутки, которые занимают все пространство между элементами и по краям контейнера. */

    justify-content: space-between;
    /* justify-content: space-between; - это значение свойства justify-content в CSS, которое применяется к контейнеру flexbox и управляет распределением пространства между его дочерними элементами вдоль главной оси (обычно горизонтальной).

    Когда свойство justify-content установлено на space-between, пространство между дочерними элементами распределяется равномерно, но промежутки между элементами равны между собой, а промежутки в начале и в конце контейнера равны между крайними элементами и краями контейнера.

    Для лучшего понимания, представьте, что доступное пространство между элементами разделено на равные промежутки, но промежутки на краях контейнера отсутствуют */

    width: 100%;
    min-height: 250px;
    background-color: beige;
    align-items: center;
    margin-bottom: 20px;
}

.container>div {
    width: 100px;
    height: 100px;
    margin: 5px;
    color: white;
    background-color: cadetblue;
}

.item2 {
    align-self: start;
 }

.container2 {
    border: 1px solid;
    flex-direction: row;
    width: 100%;
    min-height: 800px;
    background-color: #E4D6A7;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
}

.container2_items {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: #9B2915;
}

.card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 700px;
    min-height: 300px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
}

.card>img {
    /* растягиваем под ширину картинки */
    width: 70%;
}

.card>p {
    width: 70%;
}