.containerGrid {
    width: 100%;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    /* grid-template-rows: 100px; */
    grid-auto-rows: 50px;
}

.gridItem {
    background-color: cornflowerblue;
}

.containerGridMinMax {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 100px;
}

.gridItemAdaptiv {
    background-color: goldenrod;
}

.containerGridAreas {
    width: 100%;
    height: 600px;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'header header header'
    'content content item'
    'content content chicken'
    'footer footer footer'
    ;
}

.content {
    background-color: lightblue;
    grid-area: content;
}

.top {
    display: flex;
    justify-content: center;
    background-color: lightpink;
    grid-area: header;
}

.bottom {
    background-color: lightgreen;
    grid-area: footer;
}

.chicken {
    grid-area: chicken;
}